h1{
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(to right , red, green,yellow);
}

.container {
    border: 5px outset red;
    background-color: lightblue; 
    border-radius: 10px;
     margin:auto;
     width: 40rem;
     margin-bottom: 15px;
  }

.myul{
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(to right , red,yellow,RED);
    padding-bottom: 10px;
    margin-bottom: 14px;
}



.container1{
    display: flex;
    flex-wrap: wrap;
    border: 8px outset rgb(0, 98, 128);
    background-color: rgb(10, 182, 156); 
    justify-content: space-around;
    text-align: center; 
    padding bottom: 3px;;
}

.box1{
    width: 28%;
    border: 3px outset green;
    background-color: lightblue; 
    text-align: center;
    
}

.box2{
    width: 28%;
    display: flex;
    border: 3px solid green;
    background-color: lightblue; 
    text-align: center;
}

.box3{
    width: 28%;
    border: 3px solid green;
    background-color: lightblue; 
    text-align: center;
}

.box4{
    width: 28%;
    border: 3px solid green;
    background-color: lightblue; 
    text-align: center;

}
